@media only screen 
and (min-device-width: 320px)
and (max-device-width : 821px)  {

    .card {
        display: grid;
    }

    .card-wrapper {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-content {
        margin-top: 40px;
        padding-top: 15px;
       
    }
    .product-title{
            font-size: 10vw!important;
    }
    .product-link , .product-rating, .product-price{
        font-size: 5vw!important;
    }
    #countdown h1{
        font-size:5vw!important;
    }
    .salecounter span{
        font-size:7vw!important;
    }
    .salecounter li{
        font-size: 5vw!important;
    }


    .product-detail{
        margin-top: 10vw;
    }
    .product-detail p{
        font-size: 40px!important;
        
    }
    .product-detail h4{
        font-size: 40px!important;
        font-weight: bold !important;
    }
    .product-detail h2{
        font-size: 45px!important;
        font-weight: bold !important;
    }
    .product-detail ul li{
        font-size: 40px!important;
       
        
    }
    .checkpoint ul li {
      
        background-size: 36px!important;
      
    }
    .OrderNow {
        width: 100%;
        display: block;
        padding: 5px;

    }

    .swiper {
        width: 100%!important;
        height: 100%!important;
    }

    .mySwiper {
        width: 100%;
        height: 100%;
    }
    .mySwiper img {
        width: 100%;
        height: 100%;
    }
    .mySwiper2{
        display: none !important;
    }
    .swiper-pagination-bullet {
    
        width: 20px!important;
        height: 20px!important;
    }
    .spaceadd{
        display: block!important;
    }
/**
    .mySwiper2 {
        position: relative;
        height: 30%!important;

    }

    .mySwiper2 img {
        margin: auto !important;
        width: 100%!important;
        height: 100%!important;
        object-fit: cover;
        border: 3rem;
    }

    .mySwiper2 .swiper-slide {

        width: 15%!important;
        height: 20%!important;
        opacity: 0.5!important;
    }
**/
    /***************************/
    
}