@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url('/Style/style.css');

* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
    font-family: 'Open Sans', sans-serif;
}

/**body {
    line-height: 1.5;
    margin-top: 40px;
}**/

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    position: block;
    
}

.product-imgs {
    justify-items: center;
    position: relative;
    
}

.product-content {
    position: relative;
    display: block;
    padding: 2rem 2rem;
}

.product-title {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #070707;
    margin: 2px;
}

.product-title::after {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: rgb(253, 29, 29);
    background: linear-gradient(212deg, rgba(253, 29, 29, 1) 18%, rgba(252, 127, 69, 1) 98%);
    color: #fff;
    padding: 2px;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
}

.last-price {
    font-weight: bold;
}

.last-price span {
    font-weight: 40px !important;
    color: #f64749;
    text-decoration: line-through;
}

.new-price {
    font-weight: bold;
}

.new-price span {

    font-weight: bold;
    color: #256eff;
}


.salecounter {
    margin-bottom: 20px;
    width: 100%;
    color: #f70a0e;
    float: left;
}

.salecounter h1 {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-bottom: 2px;
}

.salecounter li {
    font-size: 10px !important;
    margin-bottom: 2px;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    border: 10px;
    background: rgb(245, 187, 11);
    background: linear-gradient(112deg, rgba(245, 187, 11, 1) 1%, rgba(235, 10, 10, 1) 30%);
    color: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.541);
}

.salecounter li span {
    display: block;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 2px;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
}

.product-detail p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

@media only screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.8rem;
    }

    .card-wrapper {
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .product-content {
        margin-top: 5px;
    }

    .swiper {
        width: 500px;
        height: 500px;
    }
}

.swiper {
    width: 500px;
    height: 500px;
}

.mySwiper .swiper-slide {
    background-position: left;

}

.mySwiper img {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
position: inherit;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.mySwiper2 {
    position: relative;
    height: 20%;

}

.mySwiper2 img {

    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3rem;
}

.mySwiper2 .swiper-slide {

    width: 25%;
    height: 20%;
    opacity: 0.5;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-button-next {
    color: rgb(31, 122, 207);
}

.swiper-button-prev {
    color: rgb(31, 122, 207);
}

@media only screen 
and (min-device-width: 320px)
and (max-device-width : 821px)  {

    .card {
        display: grid;
    }

    .card-wrapper {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-content {
        margin-top: 40px;
        padding-top: 15px;
    }

    .OrderNow {
        width: 100%;
        display: block;
        padding: 5px;

    }

    .swiper {
        width: 400px;
        height: 350px;


    }

    .mySwiper2 {
        position: relative;
        height: 20%;

    }

    .mySwiper2 img {

        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 3rem;
    }

    .mySwiper2 .swiper-slide {

        width: 15%;
        height: 20%;
        opacity: 0.5;
    }

    /***************************/
    body{
        height: auto;
        width: 100vw;
    }
    .navbar-toggler-icon{
        padding: 45px !important;
       }
    .navbar-toggler {
        border: none!important;
    }
        .container-fluid li{
            font-size: 50px !important;
        }
    /*************************************/
    /**Seller BEst***/
    /**********************************/
    .ProdDesk{
        display: none;
    }
    .ProdM{
        display: block;
    }
    /*.containerItemM{
        border: 2px solid rgb(228, 95, 6);
    }*/
    .rmitem{
      
        justify-content: center;
    }
        .ram{
            width: fit-content;
            height: 500px;
         
           margin-bottom: 20px;
            
        }
            .ram img{
                width: 500px;
                height: 500px;
               
                box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
                border-radius: 10%;
            }
        .rabm{
            width: fit-content;
            height: 550px;
            
            margin: 5px;
            margin-top: 20px;
        }    
            .rabm img{
                width: 250px;
                height: 250px;
                box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
                margin: 7px;
                border-radius: 15%;
                
            }
    
    /*************************************************************************/
    .oo{
        display: block;
    }
    .FootMob{
        display: block;
       
      
    }
    .footer{
    
       
    height: 150px;
    background-color: white;
    box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.473);
    }
    .bt {
    
    margin-top: 5px;
    
    }
    
    .ic {
    margin-top: 25px;
    padding-top:20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    }
    .ic a:link{
        color: black;
    }
    .ic a{
        color: black;
        font-weight: bold;
    }
    .ic a:active{
        color: black;
    }
    
    .list{
      display:block;
      
        height: 100%;
    }
    
    .list li{
        font-size: calc(150px - 8vw);
        margin-left: 15px;
        margin-bottom: 10px;
        box-shadow:-15px 14px 22px -1px rgba(0, 0, 0, 0.616);
        
    }
    .list li:hover{
        box-shadow: 5px 2px 0px -11px #000000;
        transform: translate(0px, 11px);
        
    }
    .list a{
        height: 20%;
        
        text-decoration: none;
        
    }
    .list a:active{
        
        color: goldenrod;
    }
    .list h1{
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 20px;
        text-shadow: -10px 2px 5px #899EAA;
       font-size: calc(200px - 10vw);
    }
    /****************Whatapp************************/
    
    .float_WA{
        display: block;
        position:fixed;
        width:120px;
        height:120px;
        bottom:180px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50%;
        text-align:center;
      font-size:90px;
        box-shadow: 2px 2px 3px rgb(143, 143, 143);
      z-index:100;
    }
    .float_WA i{
        color: white !important;;
    }
    .float_WA i:active{
        color: white !important;;
    }
    .float_WA i:focus{
        color: white !important;;
    }
    .my-float{
        margin-top:16px;
    }
    
    .social_icon a{
        height: 100px!important;
        width: 100px!important;
        border-radius: 50%;
    }
    .social_icon i{
        margin: auto !important;
        margin-top: 25% !important;
        font-size: 50px !important;
    }
    .colFW{
        float:left;
        width: 100%!important;
        text-align: center !important;
        
    }
    .colFW h6{
        font-size: 35px !important;
    }
    .colFW p{
        font-size: 25px !important;
        margin: 0 10% 0 10% !important;
    }
    .white_footer_section{
        margin-bottom: 10px;
    }
}