.Gam_Aud{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.game_audio{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    text-align: center;
    
    color: white;
}
.game_audio h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle!important;
    border: 2px solid red;
    height:100%;
}