.Gam_Aud{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.game_audio{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    clip-path: polygon(0 30%, 100% 30%, 100% 86%, 0 86%);
}