.Gam_Aud{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.game_audio{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.472);
    
    color: white;
}
.game_audio h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle!important;
    height:100%;
}
.main_container{
    
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}
.main_container .col-sm-3{
   
    
    margin: 30px 10px 30px 10px;
    text-align: center;
}
.main_container img{
   width:100%; 
   height:auto;
}
.main_container h5{
    color: rgb(26, 25, 25);
    font-size: 30px !important;
    font-family: 'Poppins', sans-serif !important;
}
.col-sm-3 a{
   
    text-decoration: none;
    
}
.col-sm-3 a:hover{
    text-decoration: underline!important;
    color: rgb(0, 0, 0)!important;
}

/***************Entertainment music***************************************/
.Ent_Aud{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.ent_audio{
    height:80px;
    width:100%;
    background-image: url(img/music.jpg);
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.472);
    
    color: white;
}
.ent_audio h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle!important;
    height:100%;
}


/********************gaming keyboard**************************************/

.Gam_Key{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.game_key{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.472);
    
    color: white;
}
.game_key h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle!important;
    height:100%;
}



/******************gaming keyboard and mouse set************************/

.Gam_KSet{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
}
.game_key_set{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.472);
    
    color: white;
}
.game_key_set h1{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle!important;
    height:100%;
}



/******************************************************/

@media only screen and (max-device-width : 600px)  
{
  
    .col-sm-3 a:active{
        text-decoration: underline!important;
        color: black !important;
        font-weight: bold !important;
       
    }  

   
}
