
#form_container
{
	background:rgb(251, 251, 251);
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.466) ;
	border-radius: 10px;
    border: 0;
}
body
{

	background-image: url("images/Picture2.png");
	background-size: 50px 100px;
	background-repeat: repeat;
	height:100%;
	width:100%;
}

