
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}
body
{

	background-image: url("images/Picture2.png");
	background-size: 50px 100px;
	background-repeat: repeat;
	height:100%;
	width:100%;
}

