*
{
    margin: 0;
    padding: 0;

}

/*************************************************/
.containerItem{
    position: relative;
   
}

.ra{
    width: 400px;
    height: 420px;
   
    margin: 5px;
}
    .ra img{
        width: 400px;
        height: 410px;
        margin-top: 5px;
        
        border-radius: 10%;
    }
    .ra img:hover{
        cursor: pointer;
        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
    }
.rab{
    width: 415px;
    height: 420px;
   
    margin: 5px;
}    
    .rab img{
        width: 200px;
        height: 200px;
       
        margin: 5px;
        border-radius: 15%;
    }
    .rab img:hover{
        cursor: pointer;
        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
    }

    .ProdM{
        display: none;
    }
    .FootMob{
        display: none;
    }
    .oo{
        display: none;
    }
    .list{
        display: none;
    }
/***********Limited Edition*******************************/
.limit_Edition{
    border: 2px solid red;
}
.flash-box{
    border: 2px solid blue;
    width: 50%;
    margin: auto;
}
.flash-box img{
    margin: auto;
}
/******************whatsapp*************/
    .float_WA{
        display: none;
    }
 
  
/*##################################################################################*/
/*************************************************/
/****@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  {
body{
    height: auto;
    width: 100vw;
}
.navbar-toggler{
    height: 150px !important;
    width: 150px;
   
    }
    .container-fluid li{
        font-size: 50px !important;
    }
}
****/