@media screen and (min-width:240px) and (max-width:930px), 
screen and (min-device-width:240px) and (max-device-width:930px)
{

  /* Styles */
  body{
    height: auto;
    width: 100vw;
}
.navbar-toggler{
    height: 150px !important;
    width: 150px;
   
    }
    .container-fluid li{
        font-size: 50px !important;
    }
    /*************************************/

.containerItem{
    height: 800px !important;
}
.ritem{
    
    justify-content: center;
}
    .ra{
        width: fit-content;
        height: fit-content;
       
        
    }
        .ra img{
            width: 270px;
            height: 270px;
           
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
            border-radius: 10%;
        }
    .rab{
        width: fit-content;
        height: 300px;
      
        margin: 5px;
    }    
        .rab img{
            width: 125px;
            height: 125px;
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
            margin-bottom: 10px;
            border-radius: 15%;
           
        }

/*************************************************************************/
.footer{
display: block;

height: 60px;
background-color: rgb(233, 236, 240);
box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.473);
}
.bt {

margin-top: 5px;

}

.ic {
margin-top: 5px;


}
.list h2{
margin-left: 20px;
}


}