*
{
    margin: 0;
    padding: 0;
   
}
/********************************************/
.Ups_sub{
    margin: auto;
    width: 100%;
   padding: 15px 0px 15px 0px;
    background-color: rgba(172, 170, 170, 0.425);
  
}
/*******************************/
#myModal img{
    width:45vw; height: auto;
     box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.349);
}
/*********************************/
.nav-item{
    font-weight: bold;
}
/*************************************/

.row{
    margin-right: 0px !important;
}

.Ups {
   
    justify-content: center;
    margin-right: 0px;
}

.upscolc{
    border-left: 3px solid rgba(65, 65, 65, 0.76);
    border-right: 3px solid rgba(65, 65, 65, 0.76);
}
.Ups i{
    margin-top: 5px;
    font-size: 50px;
    color: black;
    opacity: 0.7;
}
.upsText h4{
    color: black;
    opacity: 0.6;
}
.upsText h5{
    color: black;
    font-size: 14px;
    font-style: italic;
    opacity: 0.5;
}

/*************************************************/
.containerItem{
    position: relative;
   
}

.ra{
    width: 400px;
    height: 420px;
   
    margin: 5px;
}
    .ra img{
        width: 400px;
        height: 410px;
        margin-top: 5px;
        
        border-radius: 10%;
    }
    .ra img:hover{
        cursor: pointer;
        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
    }
.rab{
    width: 415px;
    height: 420px;
   
    margin: 5px;
}    
    .rab img{
        width: 200px;
        height: 200px;
       
        margin: 5px;
        border-radius: 15%;
    }
    .rab img:hover{
        cursor: pointer;
        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
    }

    .ProdM{
        display: none;
    }
    .FootMob{
        display: none;
    }
    .oo{
        display: none;
    }
    .list{
        display: none;
    }
/***********Limited Edition*******************************/
.limit_Edition{
    
    border: 2px solid red;
    
    text-align: center;
    
}
.flash-box{
 
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
}

.flash-box img{
  
    margin: auto;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 50px;
}
/**######################################*/
.flash-box {
    --box-color: #d4af37ca;
	-webkit-animation: shadow-drop-centerLD 1.5s 1s infinite alternate both;
	        animation: shadow-drop-centerLD 1.5s 1s infinite alternate both;
}
@-webkit-keyframes shadow-drop-centerLD {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 60px 20px var(--box-color);
              box-shadow: 0 0 60px 20px var(--box-color);
    }
  }
  @keyframes shadow-drop-centerLD {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 60px 20px var(--box-color);
              box-shadow: 0 0 60px 20px var(--box-color);
    }
  }
  .flash-box:hover{
    
    --box-color: rgba(0, 0, 0, 0.445);
  }
  .flash-box img:hover{
      filter: grayscale(100%);
  }
  

/******************whatsapp*************/
    .float_WA{
        display: none;
    }
 
  
/*##################################################################################*/
.spaceft{
    display: none;
}

/*###########################################################################*/
#end{
    display:block;
    background: rgb(185, 185, 185);
    background: linear-gradient(34deg, rgba(185, 185, 185) 73%, rgb(255, 115, 0) 83%);
    height:160px;
}
/*************************************************/
/****@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  {
body{
    height: auto;
    width: 100vw;
}
.navbar-toggler{
    height: 150px !important;
    width: 150px;
   
    }
    .container-fluid li{
        font-size: 50px !important;
    }
}
****/