 /***@media screen and (min-width:240px) and (max-width:930px), 
screen and (min-device-width:240px) and (max-device-width:930px)
{*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 821px)  {

  /* Styles */
  body{
    height: auto;
    width: 100vw;
}
.navbar-toggler{
    height: 150px !important;
    width: 150px;
   
    }
    .container-fluid li{
        font-size: 50px !important;
    }
/*************************************/
/**Seller BEst***/
/**********************************/
.ProdDesk{
    display: none;
}
.ProdM{
    display: block;
}
.containerItemM{
    border: 2px solid rgb(228, 95, 6);
}
.rmitem{
    border: 2px solid rgb(18, 141, 1);
    justify-content: center;
}
    .ram{
        width: fit-content;
        height: 500px;
       border: 2px solid black;
       margin-bottom: 20px;
        
    }
        .ram img{
            width: 500px;
            height: 500px;
            border: 2px solid rgb(209, 53, 53);
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
            border-radius: 10%;
        }
    .rabm{
        width: fit-content;
        height: 550px;
        border: 2px solid black;
        margin: 5px;
        margin-top: 20px;
    }    
        .rabm img{
            width: 250px;
            height: 250px;
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.233);
            margin: 5px;
            border-radius: 15%;
            border: 2px solid rgb(36, 9, 192);
        }

/*************************************************************************/
.footer{
display: block;

height: 60px;
background-color: rgb(233, 236, 240);
box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.473);
}
.bt {

margin-top: 5px;

}

.ic {
margin-top: 5px;


}
.list h2{
margin-left: 20px;
}


}