html{
	height:100%;
}


body
{

	/***background-image: url("images/Picture2.png");
	background-size: 50px 100px;
	background-repeat: repeat;
	height:100%;
	width:100%;***/
}

.container{
	margin-top:35px;
	padding-bottom: 35px;

}
.head{
	margin-top:25px!important; 
	
}
#form_container
{
	
    background: rgb(185, 185, 185);
    background: linear-gradient(34deg, rgba(185, 185, 185) 73%, rgb(255, 115, 0) 83%);
   


	/**background:rgb(255, 217, 155);**/
	width: 100% !important;
	border-radius: 40px;
    border: 0;
	
}
#reused_form .row{
	margin-top: 10px;
}	
#reused_form .row Label{
	font-size:20px;
}
.crossIC{
	text-align:right; 
	font-size:25px;  
	
  }
  .crossIC .fas{
	color:red;
  }

 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 821px) {
	/* styles for browsers larger than 960px; */
	.head h1{
		font-size:45px!important;
	}
	.col-md-6{
		width: 100vw !important;
	}
	#reused_form .row Label{
		font-size:40px;
	}
	#reused_form .row input[type="text"]{
		 padding: 20px 10px; 
		 line-height: 28px;
		font-size: 35px; 
	}

   input[type="tel"]
   {
	padding: 20px 10px; 
		line-height: 28px;
	   font-size: 35px; 
   }
   input[type="email"]
   {
	padding: 20px 10px; 
		line-height: 28px;
	   font-size: 35px; 
   }
   input[type="subject"]
   {
	padding: 20px 10px; 
		line-height: 28px;
	   font-size: 35px; 
   }
   textarea [type="textarea"]
   {
	padding: 20px 10px; 
		line-height: 28px;
	   font-size: 35px; 
   }
   
   
  
   
 
   
   .btn{
	   font-size: 40px;
   }
  }
 