
  
.text_box{
    border-bottom: 2px solid rgba(139, 139, 139, 0.15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text_box_h{
    height:80px;
    width:100%;
    background-image: url(img/ear1.jpg);
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.472);
    
    color: white;
}
.text_box_h h1{
    display: inline-block;
    line-height: 80px;
    font-size: 50px !important;
    vertical-align: middle!important;
    height:100%;
}
.main_container{
    
    align-content: left;
    justify-content: left;
    margin-bottom: 20px;
    width: 50vw!important;
    border: 2px solid red;
}
.main_container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.ques{
    padding-top: 50px;
    font-weight: bold;
}

.row ul li{
   
    padding-top: 10px ;
}



/******************************************************/

@media only screen and (max-device-width : 600px)  
{
    .row h2{
        font-size: 55px!important;
    }
    .main_container{
    
        align-content: left;
        justify-content: left;
        margin-bottom: 20px;
        width: 90vw!important;
        border: 2px solid red;
    }
    
    .main_container p{
       
        font-size: 40px!important;
    }
    .row ul li{
        font-size: 40px!important;
        padding-top: 10px!important; ;
    }
   
}
