
html
{
  height:100%;  
}
body{    
  background:url('images/Picture2.png') ;
  background-size: 50px 100px;
  background-repeat: repeat;
  
  height:100%;
  width:100%;
  
}


.form-top{

	margin-top: 30px;
 padding-bottom: 30px;
  
}
.panel{
 
  background:rgb(251, 251, 251);
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.466) ;
	border-radius: 10px;
    border: 0;
}
.crossIC{
  text-align:right; 
  font-size:20px;  
  color: red !important;
}
@-moz-document url-prefix() {
    .form-control{
    	height: auto;
    }
}

@media only screen and (min-width: 990px) {
  /* styles for browsers larger than 960px; */
  .col-6{
    width:60%;
  }
}


