
html
{
  height:100%;  
}
body{    
  background:url('images/Picture2.png') ;
  background-size: 50px 100px;
  background-repeat: repeat;
  
  height:100%;
  width:100%;
  
}

.container {
  border: 1px solid red;
  
}
.form-top{
 justify-content: center!important;
 align-items:center!important;
 align-content: center!important;
	margin-top: 30px;
 padding-bottom: 30px;
  
}
.panel{
  background:rgb(251, 251, 251);
	box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.466) ;
	border-radius: 10px;
    border: 0;
}
@-moz-document url-prefix() {
    .form-control{
    	height: auto;
    }
}


